<h1>Tablettes Director</h1>

<table id="tablet-stats">
    <thead>
        <th>tablet</th>
        <th>group</th>
        <th>IP</th>
        <th>build</th>
        <th>http ping</th>
        <th>osc ping</th>
        <th>battery</th>
        <th>clock</th>
        <th>stdev</th>
        <th>cache</th>
        <th>now playing</th>
    </thead>
</table>

<form id="assets-form" class="director-form">
    <label>Assets (one per line):
        <textarea name="assets" type="text">
<% for @asset in @assets -%>
<%= @asset %>
<% end -%>
</textarea>
    </label>
    <p><input type="submit"></p>
</form>

<form id="debug-form" class="director-form">
    <button id="play-timecode-button">Play Timecode</button>
    <button id="stop-tablets-button">Stop Tablets</button>
</form>

<p><a href="/lay/etc/app.apk">Download app.apk</a></p>
