<h1>Tablettes Director</h1>

<table id="tablet-stats">
    <thead>
        <th>tablet</th>
        <th>IP</th>
        <th>build</th>
        <th>ping</th>
        <th>battery</th>
        <th>clock median</th>
        <th>clock latest</th>
        <th>clock lag</th>
        <th>cache</th>
        <th>now playing</th>
    </thead>
</table>

<form id="preload-form" class="director-form" action="/tablettes/preload" method="POST">
    <label>Tablet: <input name="tablet" type="number" value="1"></label>
    <label>Files (one per line):
        <textarea name="files" type="text">/lay/Tablet/Test/timecode1.mp4
/lay/Tablet/Tablettes/tablette cue 1 T1.mp4</textarea>
    </label>
    <p><input type="submit"></p>
</form>

<form id="cue-form" class="director-form" action="/tablettes/cue" method="POST">
    <label>Tablet: <input name="tablet" type="number" value="1"></label>
    <label>File: <input name="file" type="text" value="/lay/Tablet/Tablettes/tablette cue 1 T1.mp4"></label>
    <label>Seconds in the future: <input name="seconds" type="number" value="5"></label>
    <label>Seek Time: <input name="seek" type="number" value="0"></label>

    <p><input type="submit"></p>

    <p><label>Trigger time: <input name="time" type="datetime" disabled></label></p>
</form>

<p><a href="/lay/etc/app.apk">Download app.apk</a></p>
