<h1>Tablettes Director</h1>
<form id="cue-form" action="/tablettes/cue" method="POST">
    <label>Seconds in the future: <input name="seconds" type="number" value="5"></label>
    <label>Trigger time: <input name="time" type="datetime" disabled></label>
    <label>File: <input name="file" type="text" value="Tablette 1 mm299_369.mp4"></label>
    <input type="submit">
</form>
