<h1>Tablettes#index</h1>
<p id="status">status text</p>
<p id="cue">cue text</p>
<ul id="slideshow">
    <img>
    <img>
</ul>
<video id="tablettes-video" preload playsinline controls width="1024" height="576">
    <source src="/videos/molly.mp4">
</video>
<button id="reload-button">Reload</button>
