<div id="tablettes-debug" class="visible">
    <h1 id="tablet-id">Tablettes#index</h1>
    <p id="version">unknown build version</p>
    <p id="status">status text</p>
    <p id="cue">cue text</p>
    <p id="clock-offset">clock offset not yet set</p>
    <p><a target="_blank" href="/tablettes/director">Director Page: Update App</a></p>
    <button id="reload-button">Reload</button>
</div>

<div id="tablettes-pre-show">
    <div class="intro">
        <form id="tablettes-pre-show-form">
            <label>
                Your program #:
                <input type="number">
            </label>
            <p>Would you like a beverage?</p>
            <input type="submit" name="opt" value="Decline">
            <input type="submit" name="opt" value="Accept">
        </form>
    </div>
    <div class="menu">
        <form id="tablettes-menu-form">

        </form>
    </div>
    <div class="consent">
        <form id="tablettes-consent-form">
        </form>
    </div>
</div>

<div id="tablettes-text-feed"></div>

<ul id="logo-bg">
    <li class="logo-bg-active" style="background-image: url(/lay/Tablet/RixLogo/RixLogo_Black_Glow.png);">
    <!--
    <li style="background-image: url(/lay/Tablet/RixLogo/RixLogo_White.png);">
    <li style="background-image: url(/lay/Tablet/RixLogo/RixLogo_White_VignetteWarm.png);">
    <li class="logo-bg-active" style="background-image: url(/lay/Tablet/RixLogo/RixLogo_Black.png);">
    <li style="background-image: url(/lay/Tablet/RixLogo/RixLogo_Black_Glow.png);">
    <li style="background-image: url(/lay/Tablet/RixLogo/RixLogo_White_Vignette.png);">
    <li class="logo-bg-active" style="background-image: url(/lay/Tablet/RixLogo/RixLogo_Transparent_Glow.png);">
    -->
</ul>

<div id="tablettes-index"></div>
