<h1>Tablettes#index</h1>
<p id="status">status text</p>
<p id="cue">cue text</p>
<ul id="logo-bg">
    <li class="logo-bg-active" style="background-image: url(/lay/Tablet/RixLogo/RixLogo_Black.png);">
    <li style="background-image: url(/lay/Tablet/RixLogo/RixLogo_White.png);">
    <li style="background-image: url(/lay/Tablet/RixLogo/RixLogo_White_VignetteWarm.png);">
    <li style="background-image: url(/lay/Tablet/RixLogo/RixLogo_Black_Glow.png);">
    <li style="background-image: url(/lay/Tablet/RixLogo/RixLogo_White_Vignette.png);">
</ul>
<ul id="slideshow">
    <li><img>
    <li><img>
</ul>
<button id="reload-button">Reload</button>

<div id="tablettes-index"></div>