<ul style="font-family: sans-serif; font-size: 40px; line-height: 70px;">
    <li><a href="/tablettes/director">tablet director page</a></li>
    <li><a href="/tablettes/cast">prop VIP identification page</a></li>
    <li><a href="/tablet-util/checkuout-logo.png">prop check-u-out logo</a>
        <ol style="font-size: 24px; line-height: normal;">
            <li>open page</li>
            <li>long-press on image</li>
            <li>select "Download image"</li>
            <li>tap "open" in the alert at the bottom</li>
            <li>tap the dot-dot-dot button at top-right and select "Open with…"</li>
            <li>select Amazon Photos</li>
            <li>tap screen once to hide header/footer</li>
        </ol>
    </li>
    <li><a href="/tablet-util/app.apk">Download app.apk</a></li>
</ul>


<ul>
    <li><a href="/tablettes/index">tablet web view (for development only)</a></li>
</ul>