
<script type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js'></script>
<script type='text/javascript' src='/assets/secrets/index.js'></script>

<div id="secrets-vm" class="row" data-values='{"text":"John"}'>
  <div class="col col-9-16 offset-1-16" style="outline: #66CD00 dashed thin">
    <h2>Secrets</h2>
      <form accept-charset="utf-8" data-bind="submit: submit">
          <input type="text" autocorrect="off" spellcheck="false" maxlength="200" data-bind="value: text, valueUpdate: 'input'" value = "">
          <button type="submit" data-bind="enable: submitable">SUBMIT</button>
      </form>
  </div>
  <div class="col col-5-16" style="outline: #66CD00 dashed thin">
      <h2>Spectators</h2>
      <div data-bind="foreach: spectators.list">
        <p><span data-bind="text: name"></span></p>
      </div>
  </div>

</div>
