<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.danieldickison.lay</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/rix/.rbenv/shims/ruby</string>
        <string>/Users/rix/lay/bin/rails</string>
        <string>server</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/rix/lay/log/server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/rix/lay/log/server.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/rix/lay</string>
  </dict>
</plist>
