#p-director {
    color: #66CD00;;
    background: black;

    #director-messages {
        border: solid 1px green;
        margin: 20px 0;
        padding: 10px;
        font-size: 20px;
    }
    #director-messages .warning {
        color: red;
    }

    .director-form {
        border: solid 1px green;
        margin: 20px 0;
        padding: 10px;
    }

    .director-form textarea {
        display: block;
        width: 100%;
        min-height: 100px;
    }

    .director-form label {
        margin-bottom: 5px;

        &.volume-input-label {
            background: rgba(255, 255, 255, 0.25);
        }
    }

    #tablet-stats {
        border-spacing: 0;
        border-collapse: collapse;
    }

    #tablet-stats td,
    #tablet-stats th {
        text-align: right;
        margin-right: 10px;
        padding: 0 3px;
        border: solid 1px rgba(0,255,0, 0.125);
    }

    #table-stats td.cache {
        position: relative;
    }

    #tablet-stats td.cache > .cache-info {
        display: none;
        text-align: left;
        position: absolute;
        background: #333;
        border: solid 1px red;
        margin: 3px 0 0 0;
        right: 0;
        font-size: 12px;
    }
    #tablet-stats td.cache:hover {
        background: #333;
    }
    #tablet-stats td.cache:hover > .cache-info {
        display: block;
    }
}
