// Place all the styles related to the Tablettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    margin: 0;
}

body.tablet {
    background: transparent;
    margin: 0;

   -webkit-user-select: none;
}

a {
    color: #6699ff;
}

#tablettes-debug {
    display: none;
    z-index: 1;
    position: absolute;
}

#tablettes-debug.visible {
    display: block;
}

#tablettes-pre-show {
    background: black;
    background-image: url(/playback/media_tablets/000-Preshow/100-021-C60-TableID_assistant_Teams_99999.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    font-family: Roboto, sans-serif;
    color: #6699ff;
    transition: opacity ease-in-out 1000ms;
    display: none;

    &.visible {
        display: block;
    }

    button {
        font-size: 24px;
        padding: 5px 20px;
        margin: 10px;
        background: rgba(0, 16, 32, 0.9);
        color: #6699ff;
        border: 3px solid #6699ff;
        border-radius: 8px;
    }
    button:active {
        background: rgba(40, 80, 120, 0.75);
    }
    button:focus {
        background: rgba(70, 70, 70, 0.75);
    }
    button:disabled {
        border-color: #ccc;
        color: #ccc;
        opacity: 0.5;
    }

    #pre-show-checkin-prompt {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        line-height: 120px;
        text-align: center;
        font-size: 40px;
        font-style: italic;
        background: black; /* cover up the prompt in the bg image */
    }

    #login-id-input {
        font-size: 28px;
        width: 8em;
    }
    #table-letter-input {
        font-size: 28px;
        width: 2em;
    }

    #pre-show-data-entry {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding-top: 20px;
        background: rgba(0, 0, 0, 0.75);
    }

    #team-bonding-panel {
        opacity: 1;

        #team-bonding-feedback {
            font-style: italic;
            font-size: 36px;
            display: none;
        }

        > ul {
            list-style: none;
        }
    }

    #drink-menu {
        list-style: none;
    }

    #drink-menu > li {
        display: inline-block;
        padding: 0;
    }

    #consent-popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        font-size: 14px;
    }

    #consent-popup-box {
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 20px 5px;
        overflow: scroll;
        box-sizing: border-box;
    }

    #consent-text {
        text-align: left;

        dt {
            font-weight: bold;
            margin: 1em 0;
        }

        dd {
            margin-left: 1em;
        }

        ol {
            list-style: lower-latin;
        }
    }
}

#pre-show-thank-you {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
    font-size: 28px;
    color: #6699ff;
    transition: opacity ease-in-out 1000ms;
    font-family: Roboto, sans-serif;
}


#tablettes-video {
    width: 100%;
    height: auto;
}

#dupe-tablet-warning {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 40px;
    display: none;

    &.visible {
        display: block;
    }
}

.geek-trio-set {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > img {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity linear 500ms, transform ease-out 600ms;

        width: 60%;
        height: auto;
        border: none;
        position: absolute;

        &:nth-child(1) {
            left: 0;
            bottom: 49%;
        }
        &:nth-child(2) {
            right: 2%;
            bottom: 47%;
        }
        &:nth-child(3) {
            left: 3%;
            top: 50%;
        }
        &:nth-child(4) {
            right: 0;
            top: 48%;
        }
    }

    &--active {
        > img {
            opacity: 1;
            transform: none;
        }
    }
    &--fade-out {
        opacity: 0;
        transition: opacity 3200ms;
    }
}

.exterminator-lite {
    position: absolute;
    top: 0;
    left: 24px;
    bottom: 24px;
    right: 24px;
    overflow: hidden;

    > .img {
        transform: translateX(-800px) scale(0.8);
        opacity: 0;

        position: absolute;
        top: 150px;
        bottom: 140px;
        left: 26px;
        width: 700px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    > .category-title,
    > .conclusion,
    > .assessment {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0;
        overflow: hidden;

        > div {
            position: absolute;
            left: 0;
            width: 752px;
            bottom: 20px;
            text-align: center;
            font-size: 59px;
            color: #01DAFF;
            text-shadow: #01A3BF 0 0 40px;
        }
    }
    > .assessment > div {
        bottom: 80px;
    }
    > .category-title > div {
        bottom: auto;
        top: 42px;
        left: 16px;
        text-align: left;
        font-size: 70px;
    }

    &--in {
        > .category-title {
            transition: width linear 1000ms;
            width: 100%;
        }
        > .img {
            transition: transform ease-out 3500ms, opacity ease-out 2000ms;
            transform: none;
            opacity: 1;
        }
    }

    &--conclusion {
        > .conclusion,
        > .assessment {
            transition: width linear 1000ms;
            width: 100%;
        }
        > .conclusion {
            transition-delay: 800ms;
        }
    }

    &--out {
        > .img {
            transition: transform ease-in 2000ms, opacity ease-in 500ms 1500ms;
            transform: translateX(800px) scale(0.8);
            opacity: 0;
        }
        > .category-title,
        > .conclusion,
        > .assessment {
            transition: opacity ease-in 1000ms;
            opacity: 0;
        }
    }

    &--fade-out {
        opacity: 0;
        transition: opacity ease-in 1000ms;
    }
}

#offtherails {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    p {
        margin: 0;
        font-size: inherit;
    }

    > div {
        position: absolute;
        top: 100%;
        width: 90%;
        margin: 0;
        padding: 0;
        
        &.tweet {
            font-size: 60px;
            font-family: Roboto, sans-serif;
            display: flex;
            color: #6699ff;

            > img {
                width: 140px;
                height: 140px;
                border-radius: 70px;
                margin-right: 20px;
                flex-shrink: 0;
            }
        }
        &.photo > img {
            max-width: 600px;
            height: auto;
        }

        &.depth-0 {
            animation-name: text-feed-translate-1, text-feed-fade-1;
            animation-duration: 50s;
            z-index: 10;
        }

        &.depth-1 {
            animation-name: text-feed-translate-2, text-feed-fade-2;
            animation-duration: 50s;
            z-index: 9;
        }

        &.depth-2 {
            animation-name: text-feed-translate-3, text-feed-fade-3;
            animation-duration: 50s;
            z-index: 8;
        }
    }
}

@keyframes text-feed-translate-1 {
    from {
        transform: translateY(0) scale(.75);
        animation-timing-function: linear;
    }
    to {
        transform: translateY(-2000px) scale(1);
    }
}

@keyframes text-feed-translate-2 {
    from {
        transform: translateY(0) scale(.60);
        animation-timing-function: linear;
    }
    to {
        transform: translateY(-1600px) scale(.85);
    }
}

@keyframes text-feed-translate-3 {
    from {
        transform: translateY(0) scale(.25);
        animation-timing-function: linear;
    }
    to {
        transform: translateY(-1600px) scale(.5);
    }
}

@keyframes text-feed-fade-1 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}

@keyframes text-feed-fade-2 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0.75;
    }
    70% {
        opacity: 0.75;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}

@keyframes text-feed-fade-3 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.5;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}

#ghosting {
    position: absolute;
    top: 50px;
    left: 54px;
    right: 54px;
    height: 180px;

    display: flex;
    justify-content: space-between;
    
    > img {
        border: none;
        width: 180px;
        height: 180px;
        /*mix-blend-mode: lighten;*/

        transition: opacity ease-out 100ms, transform cubic-bezier(.42,.3,.5,1.25) 670ms;
        transform: none;
    }
    > img:nth-child(2) {
        transition-delay: 230ms;
    }
    > img:nth-child(3) {
        transition-delay: 460ms;
    }

    &.ghosting-preroll > img {
        opacity: 0;
        transform: scale(0.1)
    }
    
    &.ghosting-fadeout > img {
        transition: opacity ease-in 3s;
        opacity: 0;
    }
}

#product-launch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > .target-x {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: 1;
        background: no-repeat top left url(/playback/media_tablets/113-Launch/113-455-C60-RedX_pt1.png);
        width: 0;

        &::after {
            content: ' ';
            background: no-repeat top right url(/playback/media_tablets/113-Launch/113-456-C60-RedX_pt2.png);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 0;
        }
    }

    &.show-target-x {
        opacity: 0.75;
        transition: opacity ease-in-out 1000ms;

        > .target-x {
            transition: width linear 333ms;
            width: 800px;

            &::after {
                transition: width linear 333ms 333ms;
                width: 800px;
            }
        }
        
        &.final-fade-out {
            opacity: 0;
            transition: opacity ease-in-out 1630ms;

            > img.fade-out {
                opacity: 1; /* don't do the image fade-out; the full container fades out at the end more slowly. */
            }
        }
    }

    > img {
        opacity: 0;
        transform: translateX(800px);
        position: absolute;
        border: none;
        
        &.front {
            border-radius: 22px;
            width: 601px;
            height: 601px;
            left: 100px;
            top: 308px;
        }
        &.back {
            width: 800px;
            height: 600px;
            left: 0;
            top: 0;
        }

        &.fade-in {
            opacity: 1;
            transition: opacity ease-in-out 400ms;
            transform: none;
        }
        &.fade-out {
            opacity: 0;
            transition: opacity ease-in-out 400ms;
            transform: none;
        }
        &.slide-in {
            opacity: 1;
            transition: transform ease-in-out 730ms;
            transform: none;
        }
        &.slide-out {
            opacity: 1;
            transition: transform ease-in-out 730ms;
            transform: translateX(-800px);
        }
    }


}
