// Place all the styles related to the Tablettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.tablet {
    background: transparent;
}

#tablettes-debug {
    display: none;
}

#tablettes-debug.visible {
    display: block;
}

#tablettes-pre-show {
    background-image: url(/lay/Tablet/RixLogo/RixLogo_Black.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#tablettes-pre-show button {
    font-size: 20px;
    padding: 5px 20px;
    margin: 10px;
}

#intro-button-container {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

#intro-button {
    display: block;
    margin: 0 auto !important;
}

#pre-show-data-entry {
    padding-top: 20px;
}

#program-number-input {
    font-size: 20px;
    text-align: center;
}

#drink-menu {
    list-style: none;
}

#drink-menu > li {
    display: inline-block;
    padding: 0;
}

#consent-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

#consent-popup-box {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 20px 5px;
    overflow: scroll;
    box-sizing: border-box;
}

#consent-text {
    text-align: left;
    white-space: pre-wrap;
}



#tablettes-video {
    width: 100%;
    height: auto;
}

#logo-bg {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

#logo-bg > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s;
}
#logo-bg > li.logo-bg-active {
    opacity: 1;
}

.director-form {
    border: solid 1px green;
    margin-bottom: 10px;
    padding: 10px;
}

.director-form textarea {
    display: block;
    width: 100%;
    min-height: 100px;
}

.director-form label {
    display: block;
    margin-bottom: 5px;
}

#tablet-stats {
    border-spacing: 0;
    border-collapse: collapse;
}

#tablet-stats td,
#tablet-stats th {
    text-align: right;
    margin-right: 10px;
    padding: 0 3px;
    border: solid 1px rgba(0,255,0, 0.125);
}

#table-stats td.cache {
    position: relative;
}

#tablet-stats td > .cache-info {
    display: none;
    text-align: left;
    position: absolute;
    background: #333;
    border: solid 1px red;
}
#tablet-stats td.cache:hover > .cache-info {
    display: block;
}

#tablettes-text-feed {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

#tablettes-text-feed > p {
    position: absolute;
    top: 100%;
    width: 80%;
    margin: 0;
    padding: 0;
}

#tablettes-text-feed > p.depth-0 {
    font-size: 80px;
    animation-name: text-feed-translate, text-feed-fade-1;
    animation-duration: 6s;
    z-index: 10;
}

#tablettes-text-feed > p.depth-1 {
    font-size: 60px;
    animation-name: text-feed-translate, text-feed-fade-2;
    animation-duration: 8s;
    z-index: 9;
}

#tablettes-text-feed > p.depth-2 {
    font-size: 40px;
    animation-name: text-feed-translate, text-feed-fade-3;
    animation-duration: 10s;
    z-index: 8;
}

@keyframes text-feed-translate {
    from {
        transform: translateY(0) scale(.75);
        animation-timing-function: linear;
    }
    to {
        transform: translateY(-700px) scale(1);
    }
}

@keyframes text-feed-fade-1 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}

@keyframes text-feed-fade-2 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.75;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}

@keyframes text-feed-fade-3 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}
