// Place all the styles related to the Tablettes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    margin: 0;
}

body.tablet {
    background: transparent;
    margin: 0;
}

a {
    color: #6699ff;
}

#tablettes-debug {
    display: none;
}

#tablettes-debug.visible {
    display: block;
}

#tablettes-pre-show {
    background-image: url(/lay/Tablet/RixLogo/RixLogo_Black.png);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    font-family: Roboto, sans-serif;
    color: #6699ff;
    transition: opacity ease-in-out 1000ms;

    button {
        font-size: 24px;
        padding: 5px 20px;
        margin: 10px;
        background: rgba(0, 16, 32, 0.75);
        color: #6699ff;
        border: 3px solid #6699ff;
        border-radius: 8px;
    }
    button:active {
        background: rgba(40, 80, 120, 0.75);
    }
    button:focus {
        background: rgba(70, 70, 70, 0.75);
    }
    button:disabled {
        border-color: #ccc;
        color: #ccc;
        opacity: 0.5;
    }

    #intro-button-container {
        position: absolute;
        left: 0;
        bottom: 100px;
        width: 100%;
        text-align: center;
        font-size: 28px;
        font-style: italic;
    }

    #login-id-input {
        font-size: 28px;
        width: 8em;
    }

    #pre-show-data-entry {
        padding-top: 20px;
    }

    #drink-menu {
        list-style: none;
    }

    #drink-menu > li {
        display: inline-block;
        padding: 0;
    }

    #consent-popup {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        font-size: 14px;
    }

    #consent-popup-box {
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 20px 5px;
        overflow: scroll;
        box-sizing: border-box;
    }

    #consent-text {
        text-align: left;
        white-space: pre-wrap;
    }
}

#pre-show-thank-you {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
    font-size: 28px;
    color: #6699ff;
    transition: opacity ease-in-out 1000ms;
    font-family: Roboto, sans-serif;
}


#tablettes-video {
    width: 100%;
    height: auto;
}

#logo-bg {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

#logo-bg > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s;
}
#logo-bg > li.logo-bg-active {
    opacity: 1;
}

.geek-trio-set {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > img {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity linear 300ms, transform ease-out 400ms;

        width: 50%;
        height: auto;
        border: none;
        position: absolute;

        &:nth-child(1) {
            left: 2%;
            bottom: 48%;
        }
        &:nth-child(2) {
            right: 5%;
            bottom: 45%;
        }
        &:nth-child(3) {
            left: 4%;
            top: 47%;
        }
        &:nth-child(4) {
            right: 2%;
            top: 45%;
        }
    }

    &--active {
        > img {
            opacity: 1;
            transform: none;
        }
    }
    &--fade-out {
        opacity: 0;
        transition: opacity 800ms;
    }
}

.exterminator-layer {
    position: absolute;
    top: 140px;
    left: 24px;
    bottom: 24px;
    right: 24px;
    overflow: hidden;

    > .img {
        transform: translateX(-800px);
        transition: transform linear 4000ms; /* duration overridden by server-side params */

        position: absolute;
        top: 0;
        bottom: 120px;
        left: 26px;
        width: 700px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    > .conclusion {
        position: absolute;
        top: 0;
        bottom: 20px;
        left: 0;
        width: 0;
        transition: width linear 1000ms;
        overflow: hidden;

        > div {
            position: absolute;
            left: 0;
            width: 752px;
            bottom: 0;
            text-align: center;
            font-size: 60px;
            color: #01DAFF;
            text-shadow: #01A3BF 0 0 40px;
        }
    }

    &--active {
        > .img {
            transform: translateX(800px);

            &--last {
                transform: none;
            }
        }

        > .conclusion {
            width: 100%;
        }
    }

    &--fade-out {
        opacity: 0;
        transition: opacity 800ms;
    }
}

.exterminator-lite {
    position: absolute;
    top: 140px;
    left: 24px;
    bottom: 24px;
    right: 24px;
    overflow: hidden;

    > .img {
        transform: translateX(-800px) scale(0.8);
        opacity: 0;

        position: absolute;
        top: 0;
        bottom: 120px;
        left: 26px;
        width: 700px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    > .conclusion {
        position: absolute;
        top: 0;
        bottom: 20px;
        left: 0;
        width: 0;
        overflow: hidden;

        > div {
            position: absolute;
            left: 0;
            width: 752px;
            bottom: 0;
            text-align: center;
            font-size: 60px;
            color: #01DAFF;
            text-shadow: #01A3BF 0 0 40px;
        }
    }

    &--in {
        > .img {
            transition: transform ease-out 4000ms, opacity ease-out 2000ms;
            transform: none;
            opacity: 1;
        }
    }

    &--conclusion {
        > .conclusion {
            transition: width linear 1000ms;
            width: 100%;
        }
    }

    &--out {
        > .img {
            transition: transform ease-in 2000ms, opacity ease-in 500ms 1500ms;
            transform: translateX(800px) scale(0.8);
            opacity: 0;
        }
        > .conclusion {
            transition: opacity ease-in 1000ms;
            opacity: 0;
        }
    }

    &--fade-out {
        opacity: 0;
        transition: opacity ease-in 1000ms;
    }
}

#offtherails {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;

    p {
        margin: 0;
        font-size: inherit;
    }

    > div {
        position: absolute;
        top: 100%;
        width: 90%;
        margin: 0;
        padding: 0;
        
        &.tweet {
            font-size: 60px;
            font-family: Roboto, sans-serif;
            display: flex;
            color: #6699ff;

            > img {
                width: 140px;
                height: 140px;
                border-radius: 70px;
                margin-right: 20px;
                flex-shrink: 0;
            }
        }
        &.photo > img {
            max-width: 400px;
            height: auto;
        }

        &.depth-0 {
            animation-name: text-feed-translate-1, text-feed-fade-1;
            animation-duration: 50s;
            z-index: 10;
        }

        &.depth-1 {
            animation-name: text-feed-translate-2, text-feed-fade-2;
            animation-duration: 50s;
            z-index: 9;
        }

        &.depth-2 {
            animation-name: text-feed-translate-3, text-feed-fade-3;
            animation-duration: 50s;
            z-index: 8;
        }
    }
}

@keyframes text-feed-translate-1 {
    from {
        transform: translateY(0) scale(.75);
        animation-timing-function: linear;
    }
    to {
        transform: translateY(-2000px) scale(1);
    }
}

@keyframes text-feed-translate-2 {
    from {
        transform: translateY(0) scale(.50);
        animation-timing-function: linear;
    }
    to {
        transform: translateY(-1600px) scale(.75);
    }
}

@keyframes text-feed-translate-3 {
    from {
        transform: translateY(0) scale(.25);
        animation-timing-function: linear;
    }
    to {
        transform: translateY(-1600px) scale(.5);
    }
}

@keyframes text-feed-fade-1 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}

@keyframes text-feed-fade-2 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0.75;
    }
    70% {
        opacity: 0.75;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}

@keyframes text-feed-fade-3 {
    from {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.5;
        animation-timing-function: ease-out;
    }
    to {
        opacity: 0;
    }
}

#ghosting {
    position: absolute;
    top: 50px;
    left: 54px;
    right: 54px;
    height: 180px;

    display: flex;
    justify-content: space-between;
    
    > img {
        border: none;
        width: 180px;
        height: 180px;
        /*mix-blend-mode: lighten;*/

        transition: opacity ease-out 100ms, transform cubic-bezier(.42,.3,.5,1.25) 670ms;
        transform: none;
    }
    > img:nth-child(2) {
        transition-delay: 230ms;
    }
    > img:nth-child(3) {
        transition-delay: 460ms;
    }

    &.ghosting-preroll > img {
        opacity: 0;
        transform: scale(0.1)
    }
    
    &.ghosting-fadeout > img {
        transition: opacity ease-in 3s;
        opacity: 0;
    }
}

#product-launch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    > .target-x {
        display: block;
        position: absolute;
        width: 500px;
        height: 0;
        left: 150px;
        bottom: 420px;
        overflow: hidden;
        z-index: 1;

        &::after {
            content: ' ';
            background: no-repeat center url(/tablet-util/x.png);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 500px;
            height: 500px;
            opacity: 0.75;
        }
    }

    &.show-target-x {
        opacity: 0.75;
        transition: opacity ease-in-out 1000ms;

        > .target-x {
            transition: height linear 1630ms;
            height: 500px;
        }
        
        &.final-fade-out {
            opacity: 0;
            transition: opacity ease-in-out 1630ms;

            > img.fade-out {
                opacity: 1; /* don't do the image fade-out; the full container fades out at the end more slowly. */
            }
        }
    }

    > img {
        opacity: 0;
        transform: translateX(800px);
        position: absolute;
        border: none;
        
        &.front {
            border-radius: 22px;
            width: 600px;
            height: 600px;
            left: 100px;
            top: 306px;
        }
        &.back {
            width: 800px;
            height: 600px;
            left: 0;
            top: 0;
        }

        &.fade-in {
            opacity: 1;
            transition: opacity ease-in-out 400ms;
            transform: none;
        }
        &.fade-out {
            opacity: 0;
            transition: opacity ease-in-out 400ms;
            transform: none;
        }
        &.slide-in {
            opacity: 1;
            transition: transform ease-in-out 730ms;
            transform: none;
        }
        &.slide-out {
            opacity: 1;
            transition: transform ease-in-out 730ms;
            transform: translateX(-800px);
        }
    }


}
