<!DOCTYPE html>
<html>
  <head>
    <title>Lay</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=800, initial-scale=0.75, maximum-scale=0.75, minimum-scale=0.75, user-scalable=no" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
